<md-tab label={{tabName}} layout="column">
    <md-content>
        <md-card class="md-padding">
            <h2 class="md-title">Analyze Sentiment</h2>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Small</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
        <md-card class="md-padding">
            <h2 class="md-title">test: {{test}}</h2>
        </md-card>
        <md-card class="md-padding">
            <h2 class="md-title">Subscription Service</h2>

            <form name="emailUtility">
                <label>The New York Times</label>

                <div layout="row">
                    <md-input-container class="long white-space-100-r">
                        <label>Key Words (Comma Separated)</label>
                        <input data-ng-model="searchOptions.page"/>
                    </md-input-container>
                    <span></span>
                    <md-input-container class="long white-space-100-r">
                        <label>Frequency</label>
                        <md-select ng-model="user.nytFrequency">
                            <md-option ng-repeat="frequency in frequencies" value="{{frequency.key}}">
                                {{frequency.key}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <label>The Guardian</label>

                <div layout="row">
                    <md-input-container class="long white-space-100-r">
                        <label>Key Words (Comma Separated)</label>
                        <input data-ng-model="searchOptions.page"/>
                    </md-input-container>
                    <span></span>
                    <md-input-container class="long white-space-100-r">
                        <label>Frequency</label>
                        <md-select ng-model="user.guardianFrequency">
                            <md-option ng-repeat="frequency in frequencies" value="{{frequency.key}}">
                                {{frequency.key}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-checkbox>
                    Same as above
                </md-checkbox>
            </form>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button>Subscribe</md-button>
                <md-button>Action 2</md-button>
            </div>
        </md-card>
    </md-content>
</md-tab>