<md-tab label={{tabName}} layout="column">
    <md-sidenav md-component-id="right" class="md-sidenav-right" layout="vertical">
        Right Nav!
    </md-sidenav>
    <md-button ng-click="openRightMenu()">
        Open Right Menu
    </md-button>
    <md-content layout="column" layout-align="left center">
        <div class="app-content">
            <form data-ng-submit="search()">
                <md-input-container class="long" data-ng-show="!isSearching">
                    <label>Search for</label>
                    <input data-ng-model="searchTerm"/>
                </md-input-container>
                <md-progress-circular md-theme="blue" md-mode="indeterminate" data-ng-if="isSearching"></md-progress-circular>
            </form>
            <md-card ng-repeat="document in documents">
                <md-list>
                    <md-list-item class="md-3-line">
                        <!--<md-checkbox ng-model="document"></md-checkbox>-->
                        <div class="md-list-item-text">
                            <h3>{{document.headline.main}}</h3>
                            <!--<p>{{document.snippet}}</p>-->
                            <p>{{document.lead_paragraph}}</p>
                            <a href="{{document.web_url}}">Read Full Article</a>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card>
        </div>
    </md-content>
</md-tab>
