<!--<a ui-sref="home.news"> News</a>-->
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <span class="md-flex">
            Core
        </span>
    </div>
</md-toolbar>
<md-tabs layout="column" md-dynamic-height>
    <data-add-tab tab-name="The New York Times" show-tab="nytTab"></data-add-tab>
    <data-add-tab tab-name="The Guardian" show-tab="guardianTab"></data-add-tab>
    <data-add-tab tab-name="You Tube" show-tab="youtubeTab"></data-add-tab>
    <data-utilities-tab tab-name="Utilities"></data-utilities-tab>
</md-tabs>