<md-tab data-ng-if="showTab" label={{tabName}} layout="column">
    <!--<md-sidenav md-component-id="right" class="md-sidenav-right" layout="vertical">-->
    <!--Right Nav!-->
    <!--</md-sidenav>-->
    <!--<md-button ng-click="openRightMenu()">-->
    <!--Open Right Menu-->
    <!--</md-button>-->
    <md-content layout="column" layout-align="left center" flex layout-padding>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button aria-label="{{tabStringLiterals.clear}}" data-ng-click="clearResults()">
                    {{tabStringLiterals.clear}}
                </md-button>
                <span flex></span>
            </div>
        </md-toolbar>
        <div class="app-content">
            <form data-ng-submit="search(searchText, selectedSortOrder)">
                <md-input-container class="long" data-ng-show="!isSearching">
                    <label>{{tabStringLiterals.searchFor}}</label>
                    <input data-ng-model="searchText"/>
                </md-input-container>
                <md-input-container class="search" data-ng-show="!isSearching">
                    <label>{{tabStringLiterals.sort}}</label>
                    <md-select ng-model="selectedSortOrder">
                        <md-optgroup label="{{tabStringLiterals.sortBy}}">
                            <md-option ng-value="sort" ng-repeat="sort in sortOrder">{{sort}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-button class="md-raised md-primary search" data-ng-show="!isSearching"
                           data-ng-click="search(searchText, selectedSortOrder)">{{tabStringLiterals.search}}</md-button>
            </form>
            <form data-ng-submit="search(searchText, selectedSortOrder)">
                <div layout="row">
                    <md-input-container class="long" data-ng-show="showSearchOptions">
                        <label>{{tabStringLiterals.page}}</label>
                        <input data-ng-model="searchOptions.page" type="number" step="1"/>
                    </md-input-container>
                    <md-progress-circular md-theme="blue" md-mode="indeterminate" data-ng-if="isSearching"></md-progress-circular>
                </div>
            </form>
            <data-show-results tab-name={{tabName}} result-arr="documents"></data-show-results>
        </div>
    </md-content>
</md-tab>