<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <span class="md-flex">
            {{homeStringLiterals.appName}}
        </span>
        <span flex></span>
        <md-menu md-position-mode="target-right target">
            <md-button aria-label="{{homeStringLiterals.home.homeMenu}}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-svg-icon="img/menu.svg"></md-icon>
            </md-button>
            <md-menu-content width="4" >
                <md-menu-item>
                    <md-button ng-click="editProfile()">
                        <div layout="row">
                            <p flex>{{homeStringLiterals.viewProfile}}</p>
                            <md-icon md-menu-align-target md-svg-icon="img/edit.svg" class="main-menu-icon"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="googleSignOut()">
                        <div layout="row">
                            <p flex>{{homeStringLiterals.signOut}}</p>
                            <md-icon md-menu-align-target md-svg-icon="img/exit_to_app.svg" class="main-menu-icon"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<md-tabs layout="column" md-dynamic-height>
    <data-add-tab tab-name="{{homeStringLiterals.tabName.nytimes}}" show-tab="nytTab"></data-add-tab>
    <data-add-tab tab-name="{{homeStringLiterals.tabName.guardian}}" show-tab="guardianTab"></data-add-tab>
    <data-add-tab tab-name="{{homeStringLiterals.tabName.youtube}}" show-tab="youtubeTab"></data-add-tab>
    <data-utilities-tab tab-name="{{homeStringLiterals.tabName.utilities}}"></data-utilities-tab>
</md-tabs>