<md-tab label={{tabName}} layout="column">
    <md-content layout="column" layout-align="left center" flex layout-padding>
        <md-card class="md-padding">
            <h2 class="md-title">Subscription Service</h2>

            <form name="emailUtility">

                <label>The New York Times</label>

                <div layout="row">
                    <md-input-container class="long white-space-100-r">
                        <label>Key Words (Comma Separated)</label>
                        <input data-ng-model="searchOptions.page"/>
                    </md-input-container>
                    <span></span>
                    <md-input-container class="long white-space-100-r">
                        <label>Frequency</label>
                        <md-select ng-model="user.frequency">
                            <md-option ng-repeat="frequency in frequencies" value="{{frequency.key}}">
                                {{frequency.key}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </form>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button>Subscribe</md-button>
                <md-button>Action 2</md-button>
            </div>
        </md-card>
    </md-content>
</md-tab>