<!--<a ui-sref="home.news"> News</a>-->
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <span class="md-flex">
            Core
        </span>

        <span flex></span>
        <md-button aria-label="Sign Out" data-ng-click="googleSignOut()">
            {{userDetails.userName}} Sign Out
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/menu.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-tabs layout="column" md-dynamic-height>
    <data-add-tab tab-name="The New York Times" show-tab="nytTab"></data-add-tab>
    <data-add-tab tab-name="The Guardian" show-tab="guardianTab"></data-add-tab>
    <data-add-tab tab-name="You Tube" show-tab="youtubeTab"></data-add-tab>
    <data-utilities-tab tab-name="Utilities"></data-utilities-tab>
</md-tabs>